---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- SEO Meta Tags -->
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gentletouchphlebotomy.com" />
    <meta
      property="og:image"
      content="https://gentletouchphlebotomy.com/og-image.jpg"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <script
      type="text/javascript"
      src="https://assets.calendly.com/assets/external/widget.js"
      async></script>

    <!-- Structured Data for Local Business -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "MedicalBusiness",
        "name": "Gentle Touch Mobile Phlebotomy Service LLC",
        "description": "Professional mobile phlebotomy services in the comfort of your home or office.",
        "url": "https://gentlephlebotomy.com",
        "telephone": "+1-813-400-4580",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "",
          "addressLocality": "Tampa",
          "addressRegion": "FL",
          "postalCode": "",
          "addressCountry": "US"
        },
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
          "opens": "07:00",
          "closes": "18:00"
        }
        // "sameAs": [
        //   "https://www.facebook.com/gentletouchphlebotomy",
        //   "https://www.instagram.com/gentletouchphlebotomy"
        // ]
      }
    </script>

    <link rel="stylesheet" href="/styles/global.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="icon" type="image/png" href="/logo.webp" />
  </head>
  <body>
    <slot />
  </body>
</html>
